* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #FFF7F3;
}

.app-header {
  padding: 20px;
    font-size: 20px;
    font-weight: 600;
}